<footer class="sections-footer">
  <div class="container-footer">
    <h2 class="title-footer section-title">Contacts</h2>
    <div>
      <ul class="list__contacts">
        <li class="item__contacts">
          <svg class="icon__contacts">
            <use href="./src/assets/svg/symbol-defs.svg#icon-place"></use>
          </svg>
          <a
            href="https://www.google.com/maps?q=Lviv,+Doroshenka+44"
            target="_blank"
            rel="noopener noreferrer"
            class="text__contacts"
          >
            Lviv, st Dorosheko, 44 k
          </a>
        </li>
        <li class="item__contacts">
          <svg class="icon__contacts">
            <use href="./src/assets/svg/symbol-defs.svg#icon-phone"></use>
          </svg>
          <a href="tel:+380971626790" class="text__contacts"
            >+38 (097) 162-67-90</a
          >
        </li>
        <li class="item__contacts">
          <svg class="icon__contacts">
            <use href="./src/assets/svg/symbol-defs.svg#icon-email"></use>
          </svg>
          <a href="mailto:mandrykarpaty@gmail.com" class="text__contacts">
            mandrykarpaty@gmail.com
          </a>
        </li>
      </ul>
      <ul class="list__social-links">
        <li class="item__social-link">
          <a href="https://web.telegram.org/k/" target="_blank">
            <svg class="icon__links-social">
              <use href="./src/assets/svg/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="item__social-link">
          <a href="https://www.instagram.com/" target="_blank">
            <svg class="icon__links-social">
              <use href="./src/assets/svg/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="item__social-link">
          <a href="https://www.facebook.com/" target="_blank">
            <svg class="icon__links-social">
              <use href="./src/assets/svg/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container__copyright-info">
    <svg class="icon-copyright">
      <use href="./src/assets/svg/copyright.svg"></use>
    </svg>
    <p class="text-copyright">Created by LelekaSoft</p>
  </div>
</footer>
