<section class="container">
  <h2 class="section-title">Gallery</h2>
  <ul class="list__gallary">
    <li class="item__gallary">
      <img
        src="./src/assets/images/gallary/gallery-mobile.png"
        srcset="
          ./src/assets/images/gallary/gallery-mobile.png     1x,
          './src/assets/images/gallary/gallery-mobile@2x.png 2x
        "
        alt="Carpathians"
      />
    </li>
    <li class="item__gallary">
      <img
        src="./src/assets/images/gallary/gallery-mobile1.png"
        srcset="
          ./src/assets/images/gallary/gallery-mobile1.png     1x,
          './src/assets/images/gallary/gallery-mobile1@2x.png 2x
        "
        alt="Carpathians"
      />
    </li>
    <li class="item__gallary">
      <img
        src="./src/assets/images/gallary/gallery-mobile3.png"
        srcset="
          ./src/assets/images/gallary/gallery-mobile3.png 1x,
          './src/assets/images/gallary/gallery-mobile3@2x 2x
        "
        alt="Carpathians"
      />
    </li>
    <li class="item__gallary">
      <img
        src="./src/assets/images/gallary/gallery-mobile4.png"
        srcset="
          ./src/assets/images/gallary/gallery-mobile4.png    1x,
          './src/assets/images/gallary/gallery-mobile4@x.png 2x
        "
        alt="Carpathians"
      />
    </li>
    <li class="item__gallary">
      <img
        src="./src/assets/images/gallary/gallery-mobile5.png"
        srcset="
          ./src/assets/images/gallary/gallery-mobile5.png     1x,
          './src/assets/images/gallary/gallery-mobile5@2x.png 2x
        "
        alt="Carpathians"
      />
    </li>
    <li class="item__gallary">
      <img
        src="./src/assets/images/gallary/gallery-mobile6.png"
        srcset="
          ./src/assets/images/gallary/gallery-mobile6.png     1x,
          './src/assets/images/gallary/gallery-mobile6@2x.png 2x
        "
        alt="Carpathians"
      />
    </li>
    <li class="item__gallary">
      <img
        src="./src/assets/images/gallary/gallery-mobile7.png"
        srcset="
          ./src/assets/images/gallary/gallery-mobile7.png     1x,
          './src/assets/images/gallary/gallery-mobile7@2x.png 2x
        "
        alt="Carpathians"
      />
    </li>
  </ul>
  <div class="wrapper-btn">
    <button type="button">
      <svg class="svg-btn">
        <use href="./src/assets/svg/symbol-defs.svg#icon-left"></use>
      </svg>
    </button>
    <button type="button">
      <svg class="svg-btn">
        <use href="./src/assets/svg/symbol-defs.svg#icon-right"></use>
      </svg>
    </button>
  </div>
</section>
