<header class="header">
  <div class="header-container">
    <nav class="nav__header">
      <a href="/">
        <svg class="logo">
          <use href="/src/assets/svg/symbol-defs.svg#icon-Logo"></use>
        </svg>
      </a>
      <ul class="nav__header-list">
        <li class="nav__header-item">
          <a href="#about">About us</a>
        </li>
        <li class="nav__header-item">
          <a href="#tours">Tours</a>
        </li>
        <li class="nav__header-item">
          <a href="#reviews">Reviews</a>
        </li>
        <li class="nav__header-item">
          <a href="#gallery">Gallery</a>
        </li>
        <li class="nav__header-item">
          <a href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="burger-btn" type="button" >
      <svg class="burger-menu-btn burger-icon--open">
        <use href="/src/assets/svg/symbol-defs.svg#icon-menu"></use>
      </svg>
       <svg class="burger-menu-btn burger-icon--close changeIcon">
        <use href="/src/assets/svg/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <div id="burger-menu" class="backdrop backdrop-burger-menu is-hidden">
    <div class="burger-menu">
      <nav class="nav__burger__menu">
        <ul class="nav__burger__menu-list">
          <li class="nav__burger__menu-item">
            <a href="#about">About us</a>
          </li>
          <li class="nav__burger__menu-item">
            <a href="#tours">Tours</a>
          </li>
          <li class="nav__burger__menu-item">
            <a href="#reviews">Reviews</a>
          </li>
          <li class="nav__burger__menu-item">
            <a href="#gallery">Gallery</a>
          </li>
          <li class="nav__burger__menu-item">
            <a href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <ul class="burger__menu__social-list">
        <li class="burger__menu__social-item">
      <a href="">
        <svg class="burger__menu__social-icon">
          <use href="/src/assets/svg/symbol-defs.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
    <li class="burger__menu__social-item">
      <a href=""
        ><svg class="burger__menu__social-icon">
          <use
            href="/src/assets/svg/symbol-defs.svg#icon-instagram"
          ></use>
        </svg></a>
    </li>
    <li class="burger__menu__social-item">
      <a href="">
        <svg class="burger__menu__social-icon">
          <use href="/src/assets/svg/symbol-defs.svg#icon-facebook"></use>
        </svg></a>
    </li>
  </ul>
      </ul>
    </div>
  </div>
</header>
