<div class="wraper-hero">
  <h1 class="title-hero">
    TOURS TO <br class="title-hero__br" />
    THE CARPATHIANS FROM LVIV
  </h1>
  <p class="text-hero">
    Journeys to the very heart of the Carpathians for those who want a real
    reboot
  </p>
  <button class="btn-hero" type="button">BOOK A TOUR</button>
  <ul class="hero__social-list">
    <li class="hero__social-item">
      <a href="">
        <svg class="hero__social-icon">
          <use href="./src/assets/svg/symbol-defs.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
    <li class="hero__social-item">
      <a href=""
        ><svg class="hero__social-icon">
          <use
            href="./src/assets/svg/symbol-defs.svg#icon-instagram"
          ></use></svg
      ></a>
    </li>
    <li class="hero__social-item">
      <a href="">
        <svg class="hero__social-icon">
          <use href="./src/assets/svg/symbol-defs.svg#icon-facebook"></use></svg
      ></a>
    </li>
  </ul>
  <div class="backdrop is-hidden" id="modal-hero">
    <div class="modal__hero" id="bookATour">
      <button type="button" class="btn-cross-modal">
        <svg class="icon-cross">
          <use href="/src/assets/svg/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="title-modal-hero">Book a tour</h2>
      <p class="text-modal-hero">
        You can leave your application here and our manager will call you
        within 10 minutes
      </p>

      <form action="" class="form-modal-hero">
        <input
          name="text"
          type="text"
          class="input-modal-hero"
          placeholder="Your name*"
          required
        />
        <input
          name="number"
          type="text"
          class="input-modal-hero"
          placeholder="Phone number*"
          required
        />
        <ul class="modal__hero-checkbox-list">
          <li class="modal__hero-checkbox-item">
            <label class="modal__hero-checkbox-label" for="Hoverla">
              <input id="Hoverla" type="checkbox" class="chekbox-hero" />
              <span class="checkbox-hero__custom">
                <svg class="checkbox-hero__icon">
                  <use href="/src/assets/svg/checkmark.svg"></use>
                </svg>
              </span>
              <span class="modal__hero-checkbox-text">Ascent to Hoverla</span>
            </label>
          </li>
          <li class="modal__hero-checkbox-item">
            <label class="modal__hero-checkbox-label" for="Bukovel">
              <input id="Bukovel" type="checkbox" class="chekbox-hero" />
              <span class="checkbox-hero__custom">
                <svg class="checkbox-hero__icon">
                  <use href="/src/assets/svg/checkmark.svg"></use>
                </svg>
              </span>
              <span class="modal__hero-checkbox-text">Ski tour to Bukovel</span>
            </label>
          </li>
          <li class="modal__hero-checkbox-item">
            <label class="modal__hero-checkbox-label" for="Carpathians">
              <input id="Carpathians" type="checkbox" class="chekbox-hero" />
              <span class="checkbox-hero__custom">
                <svg class="checkbox-hero__icon">
                  <use href="/src/assets/svg/checkmark.svg"></use>
                </svg>
              </span>
              <span class="modal__hero-checkbox-text">Week in Carpathians</span>
            </label>
          </li>
        </ul>

        <button type="submit" class="btn-modal-hero">CALL ME</button>
      </form>
    </div>
  </div>
</div>
