<div class="wraper-hero">
  <h1 class="title-hero">
    TOURS TO <br class="title-hero__br" />
    THE CARPATHIANS FROM LVIV
  </h1>
  <p class="text-hero">
    Journeys to the very heart of the Carpathians for those who want a real
    reboot
  </p>
  <button class="btn-hero" type="button">BOOK A TOUR</button>
  <ul class="hero__social-list">
    <li class="hero__social-item">
      <a href="">
        <svg class="hero__social-icon">
          <use href="./src/assets/svg/symbol-defs.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
    <li class="hero__social-item">
      <a href=""
        ><svg class="hero__social-icon">
          <use
            href="./src/assets/svg/symbol-defs.svg#icon-instagram"
          ></use></svg
      ></a>
    </li>
    <li class="hero__social-item">
      <a href="">
        <svg class="hero__social-icon">
          <use href="./src/assets/svg/symbol-defs.svg#icon-facebook"></use></svg
      ></a>
    </li>
  </ul>
</div>
