<section class="container">
  <h1 class="section-title">Our advantages</h1>
  <ul class="our-advantages__list">
    <li class="our-advantages__item">
      <svg class="svg-star">
        <use href="./src/assets/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <p class="text__item">author's tours</p>
    </li>
    <li class="our-advantages__item">
      <svg class="svg-star">
        <use href="./src/assets/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <p class="text__item">іndividual approach</p>
    </li>
    <li class="our-advantages__item">
      <svg class="svg-star">
        <use href="./src/assets/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <p class="text__item">affordable prices</p>
    </li>
    <li class="our-advantages__item">
      <svg class="svg-star">
        <use href="./src/assets/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <p class="text__item">comfortable transfer</p>
    </li>
    <li class="our-advantages__item">
      <svg class="svg-star">
        <use href="./src/assets/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <p class="text__item">professional guides</p>
    </li>
    <li class="our-advantages__item">
      <svg class="svg-star">
        <use href="./src/assets/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <p class="text__item">accommodation in hotels from 3+ *</p>
    </li>
  </ul>
</section>
