<section class="container bg__image">
  <div class="wrapper_questions">
    <h2 class="title-questions">Do you have any questions?</h2>
    <p class="text-questions">
      You can leave your questions here and our manager will call you back
      within 10 minutes
    </p>
    <form class="form__questions">
      <input
        type="text"
        name="name"
        class="input__questions"
        placeholder="Your name*"
      />

      <input
        type="phone"
        name="phone"
        class="input__questions"
        placeholder="Phone number*"
      />

      <input
        type="text"
        name="question"
        class="input__questions"
        placeholder="What would you like to know?"
      />

      <button type="submit" class="btn__sumbit--questions">call me</button>
    </form>
  </div>
</section>
