<section class="container bg__image">
    <div class="wrapper_questions">
        <h2 class="section-title">Do you have any questions?</h2>
        <p class="text-questions">You can leave your questions here and our manager will call you back within 10 minutes</p>
        <form class="form__questions">
            <input type="name" class="input__questions--name">
            <input type="phone" class="input__questions--phone">
            <input type="text" class="input__questions--text">
            <button type="submit" class="btn__sumbit--questions">call me</button>
        </form>
    </div>
</section>