<section class="container bg__image">
  <div class="wrapper_questions">
    <h2 class="title-questions">Do you have any questions?</h2>
    <p class="text-questions">
      You can leave your questions here and our manager will call you back
      within 10 minutes
    </p>
    <form class="form__questions">
      <!-- <label for="user-name">Name</label> -->
      <input id="user-name" type="name" class="input__questions--name" />
      <!-- <label for="user-phone">Phone</label> -->
      <input id="user-phone" type="phone" class="input__questions--phone" />
      <!-- <label for="user-question">Question</label> -->
      <input id="user-question" type="text" class="input__questions--text" />
      <button type="submit" class="btn__sumbit--questions">call me</button>
    </form>
  </div>
</section>
