<section class="container">
  <h2 class="section-title">Reviews</h2>
  <ul class="list-reviews">
    <li class="item-reviews">
       <div class="reviews__content">
      <img
        src="./src/assets/images/reviews/mariya.png"
        alt="Mariya"
        class="item-person"
      />
     
        <h3 class="title-name-person">Maria</h3>
        <p>
          It was really cool! We saw everything - sun, snow, rain, fog! It's
          very exciting and interesting, you won't regret it - it's worth going
          and seeing everything with your own eyes. Everything is organized
          at the highest level.
        </p>
      </div>
    </li>
    <li class="item-reviews">
      <img
        src="./src/assets/images/reviews/ostap.png"
        alt="Ostap"
        class="item-person"
      />
      <h3 class="title-name-person">Ostap</h3>
      <p>
        Good organization, everything went smoothly. Friendly guide Taras told
        interesting facts about the area and customs throughout the tour.
      </p>
    </li>
  </ul>
</section>
