<section class="container">
  <h2 class="section-title">Upcoming tours</h2>
  <ul class="list-upcoming"></ul>
  <div class="wrapper-btn arrow-icon">
    <button type="button" id="prevUpcoming">
      <svg class="svg-btn">
        <use href="./src/assets/svg/symbol-defs.svg#icon-left"></use>
      </svg>
    </button>
    <button type="button" id="nextUpcoming">
      <svg class="svg-btn">
        <use href="./src/assets/svg/symbol-defs.svg#icon-right"></use>
      </svg>
    </button>
  </div>
</section>
