<section class="container" id="tours">
  <h2 class="section-title">Upcoming tours</h2>
  <ul class="list-upcoming"></ul>
  <div class="wrapper-btn arrow-icon">
    <button type="button" id="prevUpcoming">
      <svg class="svg-btn">
        <use href="./src/assets/svg/symbol-defs.svg#icon-left"></use>
      </svg>
    </button>
    <button type="button" id="nextUpcoming">
      <svg class="svg-btn">
        <use href="./src/assets/svg/symbol-defs.svg#icon-right"></use>
      </svg>
    </button>
  </div>

  <div class="backdrop is-hidden backdropBlur" id="modal-upcoming-tours">
    <div class="wrapper-modal-tours">
      <ul class="modal__upcoming__tours-list"></ul>
    </div>
  </div>
</section>
