

.about__text {
  width: 311px;
  margin-top: 28px;

  display: flex;
  color: var(--dark-color);
  font-size: var(--fs-6);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about__text--secondary {
  margin-top: 5px;
}

@media (min-width: 767px) {
  .about__text{
    margin-top: 40px;
     width: 728px;
  }
  .about__text--secondary {
  margin-top: 10px;
}
}