.our-advantages__list {
  padding: 87px 0;
  margin-top: 28px;
  background-image: url("/images/advantages/Advantages.jpg");
  background-image: image-set(
    "/images/advantages/Advantages.jpg" 1x,
    "/images/advantages/Advantages@2x.jpg" 2x
  );
  background-repeat: no-repeat;
  background-position: center center;
}

.our-advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 28px;
}
.our-advantages__item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 315px;
  height: 40px;
  background: var(--steel-blue);
  padding: 8px 0 8px 30px;
}
.text__item {
  color: var(--secondary-color);
  font-size: var(--fs-7);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.svg-star {
  width: 24px;
  height: 24px;
  color: var(--secondary-color);
}

@media (min-width: 768px) {
  .our-advantages__list {
    width: 728px;
    background-image: image-set(
        url("/images/advantages/Advantages-tablet.jpg") 1x,
        url("/images/advantages/Advantages-tablet@2x.jpg") 2x
      ),
      image-set(
        url("/images/advantages/Advantages-tablet1.jpg") 1x,
        url("/images/advantages/Advantages-tablet1@2x.jpg") 2x
      );

    background-repeat: no-repeat, no-repeat;
    background-size: 354px 441px, 354px 441px;
    background-position: left top, right bottom;

    margin-top: 40px;
    height: calc(441px * 1.5);
    align-items: center;
  }
  .our-advantages__item {
    width: 604px;
    height: 64px;
  }
  .text__item {
    font-size: var(--fs-6);
  }
  .svg-star {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1440px) {
  .our-advantages__list {
    width: 1170px;
    margin-top: 60px;
    background-image: image-set(
        url("/images/advantages/Advantages-desk.jpg") 1x,
        url("/images/advantages/Advantages-desk@2x.jpg") 2x
      ),
      image-set(
        url("/images/advantages/Advantages-desk2.jpg") 1x,
        url("/images/advantages/Advantages-desk2@2x.jpg") 2x
      ),
      image-set(
        url("/images/advantages/Advantages-desk3.jpg") 1x,
        url("/images/advantages/Advantages-desk3@2x.jpg") 2x
      );
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 377px 588px, 377px 507px, 377px 588px;
    background-position: left top, center, right bottom;
    height: 668px;
  }
  .our-advantages__item {
    width: 630px;
  }
}
