.sections-footer {
  background-color: black;
  padding: 40px 44px 40px 44px;
}
.title-footer {
  color: var(--secondary-color);
}
.item__contacts {
  display: flex;
  align-items: center;
  margin: 28px 0 20px 0;
  min-width: 0;
}
.text__contacts {
  color: var(--secondary-color);
  text-align: center;
  font-size: 16px;
  line-height: normal;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.icon__contacts {
  width: 32px;
  height: 32px;
  color: var(--secondary-color);
  margin-right: 4px;
  flex-shrink: 0;
}
.list__social-links {
  display: flex;
  gap: 20px;
}
.icon__links-social {
  color: var(--secondary-color);
  width: 40px;
  height: 40px;
}
.text-copyright {
  color: var(--grey-color);
  font-family: Manrope;
  font-size: var(--fs-6);
  font-style: normal;

  line-height: normal;
}
.icon-copyright {
  width: 16px;
  height: 16px;
  fill: var(--grey-color);
}
.container__copyright-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 40px;
}
