.sections-footer {
  background-color: black;
  padding: 40px 44px 40px 44px;
}
.title-footer {
  color: var(--secondary-color);
}
.list__contacts {
  margin-top: 28px;
}
.item__contacts {
  display: flex;
  align-items: center;
  // margin: 28px 0 20px 0;
  margin-bottom: 20px;
  min-width: 0;
  transition: transform 250ms var(--cubic-brauser);
  &:hover{
     transform: scale(1.2);
  }
}
.text__contacts {
  color: var(--secondary-color);
  text-align: center;
  font-size: 16px;
  line-height: normal;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.icon__contacts {
  width: 32px;
  height: 32px;
  color: var(--secondary-color);
  margin-right: 4px;
  flex-shrink: 0;
  
}
.list__social-links {
  display: flex;
  gap: 20px;
  
}
.icon__links-social {
  color: var(--secondary-color);
  width: 40px;
  height: 40px;
   transition: transform 250ms var(--cubic-brauser);
  &:hover{
     transform: scale(1.2);
  }
 
}
.text-copyright {
  color: var(--grey-color);
  font-family: Manrope;
  font-size: var(--fs-6);
  font-style: normal;

  line-height: normal;
}
.icon-copyright {
  width: 16px;
  height: 16px;
  fill: var(--grey-color);
}
.container__copyright-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .sections-footer {
    padding: 64px 64px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .container-footer {
    display: flex;
    justify-content: space-around;
  }
  .list__contacts {
    margin-top: 10px;
  }
  .list__social-links {
    gap: 32px;
  }
  .icon__contacts {
    margin-right: 8px;
    width: 40px;
    height: 40px;
  }
  .text__contacts {
    font-size: 18px;
  }
}
