.list__gallery {
  width: 100%;
  max-width: 375px;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  margin-top: 28px;
}

.item__gallery {
  min-width: 280px;
  height: 480px;
  scroll-snap-align: center;
}
@media (min-width: 768px) {
  .list__gallery {
    max-width: 728px;
     margin-top: 40px;
  }
  .item__gallery {
    min-width: 354px;
    height: 275px;
  }
}
