.header {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 20px 32px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.burger-menu {
  width: 40px;
  height: 40px;
  color: var(--secondary-color);
  transition: color 250ms var(--cubic-brauser);
}
.logo:active,
.burger-menu:active {
  color: var(--dark-color);
}
@media (hover: hover) {
  .logo:hover,
  .burger-menu:hover {
    color: var(--dark-color);
  }
}

@media (min-width: 768px) {
  .header {
    padding: 24px 20px 0;
  }
  .logo,
  .burger-menu {
    width: 60px;
    height: 60px;
  }
}
