.header {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 20px 32px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.burger-menu {
  width: 40px;
  height: 40px;
  color: var(--secondary-color);
  transition: color 050ms var(--cubic-brauser);
}
.logo:active,
.burger-menu:active {
  color: var(--dark-color);
}
@media (hover: hover) {
  .logo:hover,
  .burger-menu:hover {
    color: var(--dark-color);
  }
}
.nav__header-list{
  display: none;
}

@media (min-width: 768px) {
  .header {
    padding: 24px 20px 0;
  }
  .logo,
  .burger-menu {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 40px 135px 0;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .burger-menu {
    display: none;
  }
  .nav__header {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .nav__header-list {
    display: flex;
    margin-left: auto;
    gap: 80px;
  }
  .nav__header-item {
    position: relative;
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: 500;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: var(--secondary-color);

      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
  
}
