.header {
  z-index: 2;
  margin: 0 auto;
  padding: 20px 32px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.burger-menu-btn {
  position: relative;
  width: 40px;
  height: 40px;
  color: var(--secondary-color);
  stroke: var(--secondary-color);
  transition: color 050ms var(--cubic-brauser);
  z-index: 1;
}
.changeIcon {
  display: none;
}
.logo:hover,
.burger-menu-btn:hover {
  color: var(--dark-color);
  stroke: var(--dark-color);
}

.nav__header-list {
  display: none;
}
.backdrop.backdrop-burger-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.burger-menu {
  background-color: rgba(32, 35, 33, 0.7);
  width: 233px;
  height: 100dvh;
  padding: 132px 0 0 32px;
  overflow-y: auto;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.isOpen {
   transform: scaleX(1);
}

.nav__burger__menu-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.nav__burger__menu-item {
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  color: var(--secondary-color);
}

.burger__menu__social-list {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  gap: 32px;
}

.burger__menu__social-icon {
  color: var(--secondary-color);
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  .header {
    padding: 24px 20px 0;
  }
  .logo,
  .burger-menu-btn {
    width: 60px;
    height: 60px;
  }
  .burger-menu {
    width: 374px;
    padding: 184px 0 0 82px;
  }

  .burger__menu__social-list {
    flex-direction: row;
    margin-top: 80px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 40px 135px 0;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .burger-menu-btn {
    display: none;
  }
  .nav__header {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .nav__header-list {
    display: flex;
    margin-left: auto;
    gap: 80px;
  }
  .nav__header-item {
    position: relative;
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: 500;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: var(--secondary-color);

      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
}
@media (max-height: 667px) {
  .burger__menu__social-list {
    flex-direction: row;
  }
}
