.hero-wrapper {
  position: relative;
  background-image: url("/images/hero/hero_mobile.jpg");
  background-image: image-set(
    url("/images/hero/hero_mobile.jpg") 1x,
    url("/images/hero/hero_mobile@2x.jpg") 2x
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wraper-hero {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 23px;
}

.title-hero {
  width: 311px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: var(--fs-1);
  color: var(--secondary-color);
  .title-hero__br {
    display: none;
  }
}

.text-hero {
  margin-top: 60px;
  width: 315px;
  text-align: center;
  font-weight: 500;
  font-size: var(--fs-6);
  color: var(--secondary-color);
}

.btn-hero {
  margin: 88px 0 193px;
  width: 285px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--steel-blue);
  color: var(--secondary-color);
  font-family: Manrope, sans-serif;
  font-size: var(--fs-6);
  font-weight: 500;
  transition:
    background-color 250ms var(--cubic-brauser),
    transform 250ms var(--cubic-brauser);
  &:hover {
    transform: scale(1.1);
    background-color: var(--main-color);
  }
}
.hero__social-list {
  display: none;
}

.modal__hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  width: 100%;
  max-width: 375px;
  z-index: 1000;
  padding: 52px 32px 36px;
}

.btn-cross-modal {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  transition: transform 250ms var(--cubic-brauser);
  &:hover {
    transform: scale(1.2);
  }
}
.icon-cross {
  width: 30px;
  height: 30px;
  stroke: var(--main-color);
}
.title-modal-hero {
  font-size: 24px;
  font-weight: 400;
}
.text-modal-hero {
  width: 281px;
  margin-top: 20px;
  font-size: var(--fs-7);
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}
.form-modal-hero {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.input-modal-hero {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--grey-color);
  background-color: var(--secondary-color);
  outline: none;

  padding: 0 4px 8px 4px;

  &::placeholder {
    color: var(--main-color);
    font-size: var(--fs-6);
  }
}
.modal__hero-checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.modal__hero-checkbox-item {
  display: inline-flex;
}
.modal__hero-checkbox-label {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

.chekbox-hero {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-hero__custom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid var(--main-color);
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.checkbox-hero__icon {
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: opacity 0.3s;
}

.chekbox-hero:checked + .checkbox-hero__custom .checkbox-hero__icon {
  opacity: 1;
}

.modal__hero-checkbox-text {
  font-size: var(--fs-6);
  font-weight: 400;
}

.btn-modal-hero {
  background-color: var(--steel-blue);
  color: var(--secondary-color);
  height: 52px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 250ms var(--cubic-brauser);
  &:hover {
    background-color: var(--main-color);
  }
}
@media (min-width: 768px) {
  .hero-wrapper {
    height: 818px;
    background-image: url("/images/hero/hero_tablet.jpg");
    background-image: image-set(
      url("/images/hero/hero_tablet.jpg") 1x,
      url("/images/hero/hero_tablet@2x.jpg") 2x
    );
  }

  .header {
    max-width: 768px;
  }

  .wraper-hero {
    margin-top: 96px;
  }
  .title-hero {
    width: 728px;
    line-height: normal;
    .title-hero__br {
      display: block;
    }
  }
  .text-hero {
    width: 470px;
    margin-top: 40px;
  }
  .btn-hero {
    width: 394px;
    height: 56px;
    margin: 60px 0 0;
  }
  .modal__hero {
    max-width: 478px;
    height: max-content;
    padding: 60px 42px 40px;
  }
  .btn-cross-modal {
    top: 20px;
    right: 20px;
  }

  .title-modal-hero {
    font-size: var(--fs-3);
  }
  .text-modal-hero {
    width: 374px;
    margin-top: 24px;
  }
  .form-modal-hero {
    margin-top: 32px;
    gap: 25px;
  }
  .btn-modal-hero {
    margin-top: 16px;
  }
  .icon-cross {
    width: 40px;
    height: 40px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .hero-wrapper {
    height: 1024px;
    background-image: url("/images/hero/hero_desk.jpg");
    background-image: image-set(
      url("/images/hero/hero_desk.jpg") 1x,
      url("/images/hero/hero_desk@2x.jpg") 2x
    );

    background-size: cover;
  }

  .header {
    max-width: 1440px;
  }
  .title-hero {
    width: 1170px;
    margin-top: 162px;
    .title-hero__br {
      display: none;
    }
  }
  .text-hero {
    width: 575px;
    margin-top: 40px;
  }
  .btn-hero {
    width: 575px;
    height: 69px;
  }

  .hero__social-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 32px;
    bottom: 190px;
    right: 170px;
  }
  .hero__social-icon {
    width: 40px;
    height: 40px;
    color: var(--secondary-color);
    transition: transform 250ms var(--cubic-brauser);
    &:hover {
      transform: scale(1.2);
    }
  }
  .modal__hero {
    max-width: 774px;
    height: max-content;
    padding: 116px 100px 60px;
  }
  .btn-cross-modal {
    top: 40px;
    right: 40px;
  }

  .title-modal-hero {
    font-size: var(--fs-3);
  }
  .text-modal-hero {
    width: 100%;
    max-width: 525px;
    margin-top: 28px;
    font-size: 24px;
  }
  .form-modal-hero {
    margin-top: 32px;
    gap: 30px;
  }
  .input-modal-hero {
    padding: 4px 8px 8px;
  }
  .btn-modal-hero {
    margin-top: 16px;
    height: 70px;
    font-size: 24px;
  }
  .icon-cross {
    width: 40px;
    height: 40px;
  }
}
