.hero-wrapper {
  position: relative;
  background-image: url("/images/hero/hero_mobile.jpg");
  background-image: image-set(
    url("/images/hero/hero_mobile.jpg") 1x,
    url("/images/hero/hero_mobile@2x.jpg") 2x
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wraper-hero {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 23px;
}

.title-hero {
  width: 311px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: var(--fs-1);
  color: var(--secondary-color);
  .title-hero__br {
    display: none;
  }
}

.text-hero {
  margin-top: 60px;
  width: 315px;
  text-align: center;
  font-weight: 500;
  font-size: var(--fs-6);
  color: var(--secondary-color);
}

.btn-hero {
  margin: 88px 0 193px;
  width: 285px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--steel-blue);
  color: var(--secondary-color);
  font-family: Manrope, sans-serif;
  font-size: var(--fs-6);
  font-weight: 500;
}
.hero__social-list {
  display: none;
}

.modal__hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--secondary-color);
  width: 100%;
  max-width: 375px;
  min-height: 62dvh;
  z-index: 1000;
  overflow-y: scroll;
  padding: 52px 32px 36px;
    
}

.btn-cross-modal {
  position: absolute;
  top: 12px;
  right: 12px;
}
.icon-cross {
  width: 30px;
  height: 30px;
}
.title-modal-hero {
  font-size: 24px;
  font-weight: 400;
}
.text-modal-hero {
  width: 281px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0%;
  text-align: center;
}
.form-modal-hero {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.input-modal-hero {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--grey-color);
  background-color: var(--secondary-color);
  outline: none;

  padding: 0 4px 8px 4px;

  &::placeholder {
    color: var(--main-color);
    font-size: var(--fs-6);
  }
}
.modal__hero-checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.modal__hero-checkbox-item {
  display: inline-flex;
}
.modal__hero-checkbox-label {
  display: flex;
  gap: 14px;
}
.modal__hero-checkbox-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.btn-modal-hero {
  background-color: var(--steel-blue);
  color: var(--secondary-color);
  height: 52px;

  font-size: 16px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .hero-wrapper {
    height: 818px;
    background-image: url("/images/hero/hero_tablet.jpg");
    background-image: image-set(
      url("/images/hero/hero_tablet.jpg") 1x,
      url("/images/hero/hero_tablet@2x.jpg") 2x
    );
  }

  .header {
    max-width: 768px;
  }

  .wraper-hero {
    margin-top: 96px;
  }
  .title-hero {
    width: 728px;
    line-height: normal;
    .title-hero__br {
      display: block;
    }
  }
  .text-hero {
    width: 470px;
    margin-top: 40px;
  }
  .btn-hero {
    width: 394px;
    height: 56px;
    margin: 60px 0 0;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .hero-wrapper {
    height: 1024px;
    background-image: url("/images/hero/hero_desk.jpg");
    background-image: image-set(
      url("/images/hero/hero_desk.jpg") 1x,
      url("/images/hero/hero_desk@2x.jpg") 2x
    );

    background-size: cover;
  }

  .header {
    max-width: 1440px;
  }
  .title-hero {
    width: 1170px;
    margin-top: 162px;
    .title-hero__br {
      display: none;
    }
  }
  .text-hero {
    width: 575px;
    margin-top: 40px;
  }
  .btn-hero {
    width: 575px;
    height: 69px;
  }

  .hero__social-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 32px;
    bottom: 190px;
    right: 170px;
  }
  .hero__social-icon {
    width: 40px;
    height: 40px;
    color: var(--secondary-color);
  }
}
