.hero-wrapper {
  background-image: image-set(
    url("../assets/images/hero/hero_mobile.jpg") 1x,
    url("../assets/images/hero/hero_mobile@2x.jpg") 2x
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.wraper-hero {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 23px;
}

.title-hero {
  max-width: 311px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: var(--fs-1);
  color: var(--secondary-color);
}

.text-hero {
  margin-top: 60px;
  max-width: 315px;
  text-align: center;
  font-weight: 500;
  font-size: var(--fs-6);
  color: var(--secondary-color);
}

.btn-hero {
  margin: 88px 0 193px;
  width: 285px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--steel-blue);
  color: var(--secondary-color);
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
}


@media (min-width: 376px) {
  .hero {
    background-image: image-set(
      url("../assets/images/hero/hero_tablet.jpg") 1x,
      url("../assets/images/hero/hero_tablet@2x.jpg") 2x
    );
  }

  .header {
    max-width: 768px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .hero {
    background-image: image-set(
      url("../assets/images/hero/hero_desk.jpg") 1x,
      url("../assets/images/hero/hero_desk@2x.jpg") 2x
    );
  }

  .header {
    max-width: 1440px;
  }
}