@use './fonts';
@use './normalize';
@use './reset';
@use './variables';
@use './header';
@use './hero';
@use './about';
@use './advantages';
@use './share';
@use './upcoming-tours';
@use './reviews';
@use './gallary';
@use './questions'