.bg__image {
  background-image: url("/images/questions/bg-mobile.jpg");
  background-image: image-set(
    url("/images/questions/bg-mobile.jpg") 1x,
    url("/images/questions/bg-mobile@2x.jpg") 2x
  );
  background-size: 375px 632px;
  background-repeat: no-repeat;
  background-position: top center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 632px;
}

.wrapper_questions {
  background-color: var(--secondary-color);
  width: 311px;
  height: 399px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .title-questions {
    margin-top: 28px;
    width: 159px;
    color: var(--dark-color);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
  }

  .text-questions {
    margin-top: 20px;
    width: 243px;
    color: var(--dark-color);
    text-align: center;
    font-size: var(--fs-7);
    font-weight: 400;
    line-height: normal;
  }

  .form__questions {
    margin-top: 24px;
    width: 271px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .input__questions {
      width: 100%;
      border: none;
      border-bottom: 1px solid var(--grey-color);
      background-color: var(--secondary-color);
      outline: none;

      padding: 0 4px 8px 4px;

      &::placeholder {
        color: var(--main-color);
        font-size: var(--fs-6);
      }
    }
    .btn__sumbit--questions {
      width: 100%;
      padding: 16px 0;
      margin-top: 8px;
      background: var(--steel-blue);

      color: var(--secondary-color);
      font-size: var(--fs-6);
      font-weight: 500;
      line-height: normal;

      text-transform: uppercase;
      &:hover {
        background-color: var(--dark-color);
        transition: background-color var(--cubic-brauser);
      }
    }
  }
}
@media (min-width: 768px) {
  .bg__image {
    background-image: image-set(
      url("/images/questions/bg-tablet.jpg") 1x,
      url("/images/questions/bg-tablet@2x.jpg") 2x
    );
    background-size: 768px 688px;
    height: 688px;
  }

  .wrapper_questions {
    width: 478px;
    height: 512px;
    .title-questions {
      font-size: 32px;
      width: 250px;
      margin-top: 40px;
    }
    .text-questions {
      margin-top: 24px;
      width: 335px;
    }
    .form__questions {
      width: 354px;
      margin-top: 32px;
      .btn__sumbit--questions {
        margin-top: 12px;
        width: 394px;
      }
    }
  }
}
@media (min-width: 1440px) {
  .bg__image {
    background-image: image-set(
      url("/images/questions/bg-desk.jpg") 1x,
      url("/images/questions/bg-desk@2x.jpg") 2x
    );

    background-size: 1170px 1074px;
    height: 1074px;
  }

  .wrapper_questions {
    width: 774px;
    height: 583px;
    .title-questions {
      font-size: 48px;
      width: 100%;
      margin-top: 40px;
    }
    .text-questions {
      margin-top: 24px;
      width: 502px;
    }
    .form__questions {
      width: 575px;
      margin-top: 32px;
      gap: 30px;
      .input__questions {
        font-size: 24px;
      }
      .btn__sumbit--questions {
        margin-top: 14px;
        width: 100%;
      }
    }
  }
}
