html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Montserrat", system-ui, sans-serif;
  font-weight: 400;
  color: #000;
  background-color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
}

input,
textarea,
select {
  font: inherit;
}
