.list-reviews {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.item-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 311px;
  min-height: 452px;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-size: cover;
    background-position: center;

    transform: translateX(-100%);
    transition: transform 250ms var(--cubic-brauser);
    pointer-events: none;
  }

  

  .reviews__content {
    position: relative;
    padding: 0 38px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--steel-blue);
    border-top: none;
  }

  .item-person {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
  }

  .title-name-person {
    text-align: center;
    margin-top: 70px;
    font-size: var(--fs-5);
    font-weight: 600;
    line-height: normal;
    color: var(--steel-blue);
  }

  .text-reviews {
    margin-top: 16px;
    font-size: var(--fs-6);
  }

  .icon-round {
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 32px;
    height: 32px;
    color: var(--steel-blue);
    z-index: 2;
  }
}

.item-reviews-desk {
  display: none;
}

@media (min-width: 768px) {
  .list-reviews {
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 20px;

    .item-reviews {
      width: 354px;
      min-height: 504px;

      .title-name-person {
        margin-top: 83px;
      }
      .text-reviews {
        margin-top: 24px;
      }

      .reviews__content {
        padding: 0 20px;
      }

      .icon-round {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 20px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .list-reviews {
    .item-reviews {
      width: 377px;
      min-height: 570px;

      &:hover::before {
        transform: translateX(0);
      }

      .reviews__content {
        padding: 0 28px;
      }

      .item-person {
        width: 125px;
        height: 125px;
      }
    }
  }
  .icon-round {
    display: none;
  }
  .item-reviews-desk {
    display: flex;
  }

 
}
 .img__before-mariya::before {
    background-image: url("/images/reviews/mariaDesk.jpg");
    background-image: image-set(
      url("/images/reviews/mariaDesk.jpg") 1x,
      url("/images/reviews/mariaDesk@2x.jpg") 2x
    );
  }

  .img__before-ostap::before {
    background-image: url("/images/reviews/ostapDesk.jpg");
    background-image: image-set(
      url("/images/reviews/ostapDesk.jpg") 1x,
      url("/images/reviews/ostapDesk@2x.jpg") 2x
    );
  }
  .img__before-anita::before {
    background-image: url("/images/reviews/anitaDesk.jpg");
    background-image: image-set(
      url("/images/reviews/anitaDesk.jpg") 1x,
      url("/images/reviews/anitaDesk@2x.jpg") 2x
    );
  }


  .isActive::before {
    transform: translateX(0);
  }