.list-reviews {
  width: 311px;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.item-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 452px;

  .item-person {
    width: 100px;
    height: 100px;
  }
  .reviews__content {
    position: relative;
    padding: 0 38px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    border: 1px solid var(--steel-blue);
    border-top: none;
  }
  .item-person {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .title-name-person {
    text-align: center;
    margin-top: 70px;
    font-size: var(--fs-5);
    font-weight: 600;
    line-height: normal;
    color: var(--steel-blue);
  }
  .text-reviews {
    margin-top: 16px;
    font-size: var(--fs-6);
  }
  .icon-round{
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 32px;
    height: 32px;
    color: var(--steel-blue);
  }
}
