.list-reviews {
  width: 311px;
  margin-top: 28px;
}

.item-reviews {
  padding-top: 84px;
  background-image: image-set(
    url("../assets/images/reviews/Review_mobile.jpg") 1x,
    url("../assets/images/reviews/Review_mobile@2x.jpg") 2x
  );
  background-size: 311px 134px;
  background-repeat: no-repeat;
  background-position: top center;

  display: flex;
  flex-direction: column;
  align-items: center;

  .item-person {
    width: 100px;
    height: 100px;
  }
  .reviews__content{
    margin-top: 16px;
    padding: 0 28px;
  border: 1px solid red;

  }
  .title-name-person {
    text-align: center;
    margin-top: 20px;
    font-size: var(--fs-5);
    font-weight: 600;
    line-height: normal;
    color: var(--steel-blue);
  }
}
