.container {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title {
  color: var(--dark-color);
  font-size: var(--fs-2);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
