.container {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title {
  color: var(--dark-color);
  font-size: var(--fs-2);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.wrapper-btn {
  display: flex;
  gap: 40px;
  margin-top: 24px;

  .svg-btn {
    width: 28px;
    height: 28px;
    color: var(--grey-color);
    &:hover {
      color: var(--steel-blue);
    }
  }
}
.wrapper-btn > button {
  display: flex;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 35, 33, 0.5);
  transition: opacity 250ms var(--cubic-brauser),
    visibility 250ms var(--cubic-brauser);

  display: flex;
  align-items: center;
  justify-content: center;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
@media (min-width: 768px) {
  .container {
    margin-top: 80px;
  }
  .wrapper-btn {
    margin-top: 32px;
    .svg-btn {
      width: 32px;
      height: 32px;
    }
  }
}

@media (min-width: 1440px) {
  .wrapper-btn {
    margin-top: 40px;
    .svg-btn {
      width: 40px;
      height: 40px;
    }
  }
}



// &::-webkit-scrollbar {
//     background-color: transparent;
//     width: 0px;
//   }