.list-upcoming {
  width: 311px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  margin-top: 28px;
  gap: 15px;
  &::-webkit-scrollbar {
    display: none;
  }

  .item_upcoming {
    min-width: 311px;
    height: 527px;
    scroll-snap-align: start;
    border: 1px solid var(--steel-blue);

    .content_item_wraper {
      padding: 28px 20px;
      .item_title {
        font-size: var(--fs-5);
        font-weight: 600;
        line-height: normal;
      }
      .item_text {
        font-size: var(--fs-6);
        font-weight: 600;
        line-height: normal;
        margin-top: 16px;
      }
    }
  }
}
.item_btn {
  width: 100%;
  margin-top: 20px;
  padding: 17px 73px;
  background-color: var(--steel-blue);
  color: var(--secondary-color);

  font-size: var(--fs-6);
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  transition: background-color 250ms var(--cubic-brauser);
  &:hover {
    background-color: var(--dark-color);
  }
  @media (hover: hover) {
    background-color: var(--dark-color);
  }
}

@media (min-width: 768px) {
  .list-upcoming {
    width: 728px;
    margin-top: 40px;
    .item_upcoming {
      min-width: 354px;
      height: 622px;
      .content_item_wraper {
        padding: 48px 20px;
      }
    }
  }
  .item_btn {
    margin-top: 40px;
  }
}
