.list-upcoming {
  width: 311px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  margin-top: 28px;
  gap: 20px;
  &::-webkit-scrollbar {
    display: none;
  }

  .item_upcoming {
    min-width: 311px;
    height: 527px;
    scroll-snap-align: start;
    border: 1px solid var(--steel-blue);

    .content_item_wraper {
      padding: 28px 20px;
      .item_upcoming-title {
        font-size: var(--fs-5);
        font-weight: 600;
        line-height: normal;
      }
      .item_upcoming-text {
        font-size: var(--fs-6);
        font-weight: 600;
        line-height: normal;
        margin-top: 16px;
      }
    }
  }
}
.item_btn {
  width: 100%;
  margin-top: 20px;
  padding: 17px 73px;
  background-color: var(--steel-blue);
  color: var(--secondary-color);

  font-size: var(--fs-6);
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  transition: background-color 250ms;
  &:hover {
    background-color: var(--dark-color);
  }
}

.modal__upcoming__tours-list {
  width: 315px;
  height: 624px;
  background-color: black;
}

@media (min-width: 768px) {
  .list-upcoming {
    width: 728px;
    margin-top: 40px;
    .item_upcoming {
      min-width: 354px;
      height: 622px;
      .content_item_wraper {
        padding: 48px 20px;
        .item_upcoming-text {
          margin-top: 20px;
        }
      }
    }
  }
  .item_btn {
    margin-top: 40px;
  }
}

@media (min-width: 1440px) {
  .list-upcoming {
    width: 100%;
    justify-content: center;
    .item_upcoming {
      height: 718px;
      .content_item_wraper {
        padding: 44px 20px 48px;
      }
    }
    .item_btn {
      margin-top: 36px;
    }
  }
  .arrow-icon {
    display: none;
  }
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}