.list-upcoming {
  width: 311px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  margin-top: 28px;
  gap: 20px;
  &::-webkit-scrollbar {
    display: none;
  }

  .item_upcoming {
    min-width: 311px;
    height: 527px;
    scroll-snap-align: start;
    border: 1px solid var(--steel-blue);

    .content_item_wraper {
      padding: 28px 20px;
      .item_upcoming-title {
        font-size: var(--fs-5);
        font-weight: 600;
        line-height: normal;
      }
      .item_upcoming-text {
        font-size: var(--fs-6);
        font-weight: 600;
        line-height: normal;
        margin-top: 16px;
      }
    }
  }
}
.item_btn {
  width: 100%;
  margin-top: 20px;
  padding: 17px 73px;
  background-color: var(--steel-blue);
  color: var(--secondary-color);

  font-size: var(--fs-6);
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  transition: background-color 250ms;
  &:hover {
    background-color: var(--dark-color);
  }
}
.backdropBlur {
  backdrop-filter: blur(2px);
}

.modal__upcoming__tours-list {
  width: 100%;
  max-width: 315px;
  display: flex;
  gap: 20px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  user-select: none;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
.modal__upcoming__tours-item {
  min-width: 100%;
  scroll-snap-align: center;
}

.wraper__tour-item {
  background-repeat: no-repeat;
  background-size: 315px 480px;
  background-position: center;
  flex-shrink: 0;
  height: 480px;
  padding: 56px 0 0 48px;
}
.title-modal-tours {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--secondary-color);
  margin-bottom: 12px;
}
.activities__tours {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.activities__tours-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--secondary-color);
  &:first-child {
    position: relative;
    border-radius: 0px 8px 8px 0px;
    background: var(--steel-blue);
    width: 252px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -48px;
      width: 48px;
      height: 48px;
      background-color: var(--steel-blue);
    }
  }
}
.wrapper-modal-tours {
  position: relative;
}
.modal-pagination-container {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 12px;
  bottom: 164px;
  left: 152px;
  transform: translate(-50%);
}

.pagination-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: all 0.3s ease;
  cursor: pointer;
}

.pagination-dot.active {
  background-color: var(--steel-blue);
  transform: scale(1.5);
}

.wrapper-dateils {
  background-color: var(--secondary-color);
  padding: 28px 15px;
}
.tours-price-modal {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  color: var(--dark-color);
}

.btn-dateils-modal {
  margin-top: 16px;
  width: 285px;
  height: 52px;
  background-color: var(--steel-blue);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--secondary-color);
}

@media (min-width: 768px) {
  .list-upcoming {
    width: 728px;
    margin-top: 40px;
    .item_upcoming {
      min-width: 354px;
      height: 622px;
      .content_item_wraper {
        padding: 48px 20px;
        .item_upcoming-text {
          margin-top: 20px;
        }
      }
    }
  }
  .item_btn {
    margin-top: 40px;
  }
  .modal__upcoming__tours-list {
    max-width: 728px;
  }
  .wraper__tour-item {
    padding: 60px 0 0 60px;
    height: 550px;
  }
  .title-modal-tours {
    font-size: 24px;
  }
  .activities__tours {
    gap: 16px;
  }
  .activities__tours-item {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
  }
  .wrapper-dateils {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px 15px;
  }
  .btn-dateils-modal {
    width: 394px;
    height: 56px;

    font-size: 20px;
    line-height: 1.2;
  }
  .tours-price-modal {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
  }
  .modal-pagination-container {
    left: 356px;
    bottom: 204px;
  }
  .pagination-dot {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: 1440px) {
  .list-upcoming {
    width: 100%;
    justify-content: center;
    .item_upcoming {
      height: 718px;
      .content_item_wraper {
        padding: 44px 20px 48px;
      }
    }
    .item_btn {
      margin-top: 36px;
    }
  }
  .arrow-icon {
    display: none;
  }

  .modal__upcoming__tours-list {
    max-width: 1170px;
  }
  .wraper__tour-item {
    padding: 108px 0 0 100px;
    height: 742px;
  }
  .title-modal-tours {
    font-size: 40px;
  }

  .activities__tours-item {
    font-size: 28px;
    font-weight: 500;
  }
  .wrapper-dateils {
    padding: 48px 15px;
  }
  .btn-dateils-modal {
    width: 575px;
    height: 69px;

    font-size: 24px;
    line-height: 1.2;
  }
  .tours-price-modal {
    font-size: 24px;
  }
  .modal-pagination-container {
    left: 576px;
    bottom: 277px;
  }
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.wraper__tour-item {
  background-size: cover;
  background-position: center;
  
  background-image: var(--img-mob);
  background-image: image-set(var(--img-mob) 1x, var(--img-mob2x) 2x);
}

@media (min-width: 768px) {
  .wraper__tour-item {
    background-image: var(--img-tab);
    background-image: image-set(var(--img-tab) 1x, var(--img-tab2x) 2x);
  }
}

@media (min-width: 1440px) {
  .wraper__tour-item {
    background-image: var(--img-desk);
    background-image: image-set(var(--img-desk) 1x, var(--img-desk2x) 2x);
  }
}

.wraper__tour-item {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
}

/* Коли стиль додано, картинка плавно з'явиться */
.wraper__tour-item[style] {
  opacity: 1;
}